* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    font-family: "Nunito";
    font-size: 16px;
  }
  
  .nav {
    position: fixed;
    width: 100%;
    background-color: #004D39;
    padding: 14px 0;
    z-index: 1;
  }
  
  .nav .nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav .nav__row .nav__logo {
    width: 70px;
    height: 52px;
  }
  
  .nav .nav__row .nav__logo .nav__img {
    width: 70px;
  }
  
  .nav .nav__row .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .nav .nav__row .list .list__elem {
    list-style: none;
    margin-right: 40px;
  }
  
  .nav .nav__row .list .list__elem:last-child {
    margin-right: 0;
  }
  
  .nav .nav__row .to-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav .nav__row .to-maps .to-maps__link {
    margin-right: 16px;
  }
  
  .nav .nav__row .to-maps .to-maps__img {
    width: 24px;
  }
  
  .nav .nav__row .entrance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav .nav__row .entrance .entrance__link {
    margin-right: 10px;
  }
  main{
    padding-top: 158px;
  }
  .container__title{
    padding-top: 50px;
    font-family: 'Nunito';
}


.dirwrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    padding-top: 28px;
}
 .dirwrapper__title{
    position: absolute;
bottom: 16px;
left: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
} 
.dirwrapper__item{
    position: relative;
}

.dirwrapper__item img{
border: 1px solid #ccc;
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
border-radius: 10px;
}
.dirwrapper > article:nth-child(1) {
    grid-row: span 2;
  }
  .container1__title{
    padding-top: 89px;
    font-family: 'Nunito';
  }
  .uniwrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }
  .uniwrapper_descr{
    background: rgba(255, 195, 78, 0.32);
    border-radius: 0px 0px 0px 30px;
    padding: 16px;
  }
  .uniwrapper__title{
    font-family: 'Open Sans';
  }
  .uniwrapper__text{
    font-family: 'Open Sans';
  }
  .uniwrapper__span{
    font-family: 'Open Sans';
  }

  .uniwrapper__img{
    display: block;

  }
  .uniwrapper__time{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
  }
.uniwrapper__icon{
    vertical-align: middle;
    margin-left:10px ;
    
}
 /* .container2__title{
  padding-top: 89px;
  font-family: 'Nunito';
}
.popularcours{
  display: flex;
    justify-content: space-between;
    padding-top: 28px;
    position: relative;
}
.popularcours__img{
  display: block;
}
.popularcours__descr{
  margin-top: 33px;
    display: flex;
    justify-content: space-between;
}  */
.container2__title{
  padding-top: 89px;
  font-family: 'Nunito';
}
.popularcours__img{
  padding-top: 28px;
 margin: 8px;
}
.freecours__img{
  padding-top: 28px;
 margin: 8px;
}
.kidscours__img{
  padding-top: 28px;
 margin: 8px;
}

.container__img{
margin-top: 71px;
}
.container3__title{
  margin-top: 41px;
  font-family: 'Nunito';
}
.bonuscertificat{
  display:flex;
   margin-top: 85px;
}
.certificatwrapper__img{
  height: 495px;
}

 .certificatwrapper__list{
  margin: 72px;
   width: 299px;
height: 327px; 

 }

 .certificatwrapper__elem{
  list-style-type: none;
  font-family: 'Open Sans';
margin-top: 15px;

 }
 .certificatwrapper__button{
  margin-top: 122px;
  width: 254px;
height: 62px;
 }





  .header {
    height: 500px;
  }
  
  .footer {
    background-color: #004D39;
    padding: 82px 0;
    width: 100%;
  }
  
  .footer .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 42px;
    margin-bottom: 33px;
  }
  
  .footer .support .support__group {
    line-height: 40px;
  }
  
  .footer .support .support__group .support__list {
    height: 130px;
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .footer .support .support__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 180px;
  }
  
  .footer .support .support__more .support__logo {
    width: 173px;
  }
  
  .footer .support .support__more .support__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .footer .support .support__more .support__social .support__mail,
  .footer .support .support__more .support__social .support__vk,
  .footer .support .support__more .support__social .support__inst {
    padding-left: 16px;
  }
  
  .footer .txt {
    color: #fff;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  /*# sourceMappingURL=style.css.map */

  .empty{
    height: 150px;
  }
